version: '3.8'

services:
  # 1. Spring Boot Application
  order-app:
    image: nishantkalia13/order-service:latest
    container_name: order-container
    ports:
      - "8002:8002"
    restart: always
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql:3306/order_service
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: root
      # Overrides application.properties to point to the Docker Kafka container
      SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka:9092 
    depends_on:
      - mysql
      - kafka
    networks:
      - spring-network

  # 2. MySQL Database
  mysql:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: order_service
    ports:
      - "3362:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - spring-network

  # 3. Zookeeper (Required to manage Kafka)
  zookeeper:
    image: confluentinc/cp-zookeeper:latest
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    networks:
      - spring-network

  # 4. Kafka Message Broker
  kafka:
    image: confluentinc/cp-kafka:latest
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:29092,PLAINTEXT_HOST://localhost:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    networks:
      - spring-network

networks:
  spring-network:
    driver: bridge

volumes:
  mysql_data: